<footer>
    <div class="footer-inner">
        <div class="footer__copyright">
            Copyright © 2021
        </div>
        <div class="footer__developers">
            <span>
                 designed with great desire <i class="far fa-heart"></i> by Kate <i class="fab fa-instagram"></i>
                and Michael <i class="fab fa-instagram"></i>
            </span>
        </div>
        <div class="load-time" id="load-time"></div>
    </div>
</footer>
<script src="/javascript/display_render_time.js"></script>
