<!DOCTYPE html>
<html lang="en">
<head>
    <title>HomeHunter</title>
    <meta charset="utf-8"/>
    {{> style_bundles }}
</head>
<body>
{{> header }}
{{{ body }}}
{{> footer }}
{{> shared_scripts }}
</body>
<html>