<!DOCTYPE html>
<html lang="en">
<head>
    <title>HomeHunter</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/header/logo-transparent.png">
    {{> style_bundles }}
</head>
<body>
{{#if error}}
    <div class="alert alert-danger">{{error}}</div>
{{/if}}
{{> header }}
{{{ body }}}
{{> footer }}
{{> shared_scripts }}
</body>
<html>