<div class="dialog-wrapper" id="v-app">
  <div class="dialog-header">${interlocutor}</div>
  <div class="dialog-body">
    <div class="dialog-message" v-for="msg of messages" v-bind:class="{ author : msg.author.username === user }">
      <div class="dialog-message__text">
        ${msg.text}
      </div>
      <div class="dialog-message__time">
        ${new Date(msg.createdAt).getHours()}:${new Date(msg.createdAt).getMinutes()}
      </div>
    </div>
  </div>
  <form class="dialog-footer">
    <label>
      <input
        v-model="text"
        class="dialog-input"
        minlength="1"
        type="text"
        name="message"
        placeholder="Enter your message"
      />
    </label>
    <button class="dialog-footer__button" type="submit" @click.prevent="sendMessage()">
      <img src="/images/icons/paper-plane-svgrepo-com.svg" alt="send-icon" />
    </button>
  </form>
</div>
<script>
  const user = '{{user.username}}'; const userId = '{{user.id}}'; const websocketsPath = '{{websocketsPath}}'
</script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascript/chat_vue.js"></script>