<div class="dialog-wrapper">
  <div class="dialog-header">Chat app</div>
  <div class="dialog-body">
    Loading....
  </div>
  <div class="dialog-footer">
    <label>
      <input class="dialog-input" type="text" name="message" placeholder="Enter your message" />
    </label>
  </div>
</div>