<div class="background_for_favourites">
  <div class="background_for_favourites__page">
    <div class="background_for_favourites__page__container">
      <h1 class="background_for_favourites__page__container_header">Добавляйте
        объявления в&nbsp;"Избранное"</h1>
      <div class="background_for_favourites__page__container__description">
        Не&nbsp;пропустите изменения цены в&nbsp;интересных вам предложениях.
      </div>
      <a
        class="background_for_favourites__page__container__button"
        href="index.html"
      >Начать новый поиск</a>
    </div>
    <img
      alt=""
      class="background_for_favourites__page__image"
      src="images/favourites_background.svg"
    />
  </div>
</div>