<p class="search_result">
  Купить 2-комнатную квартиру
</p>
<div class="background_for_results">
    {{> flats_list_item adv=flat1}}
    {{> flats_list_item adv=flat2}}
<!--  <div class="flat_page">-->
<!--    <div class="flat_page__inner">-->
<!--      <div class="images">-->
<!--        <div class="big_image">-->
<!--          <div class="slideshow-container">-->

<!--            &lt;!&ndash; Full-width images with number and caption text &ndash;&gt;-->
<!--            <div class="mySlides fade">-->
<!--              <div class="numbertext">1 / 5</div>-->
<!--              <img-->
<!--                alt=""-->
<!--                class='flat_page__info__image"'-->
<!--                src="images/flats_list/flat_Mohovaya/flat_Mohovaya1.jpg"-->
<!--                style="width:100%"-->
<!--              />-->
<!--            </div>-->

<!--            <div class="mySlides fade">-->
<!--              <div class="numbertext">2 / 5</div>-->
<!--              <img-->
<!--                alt=""-->
<!--                class='flat_page__info__image"'-->
<!--                src="images/flats_list/flat_Mohovaya/flat_Mohovaya6.jpg"-->
<!--                style="width:100%"-->
<!--              />-->
<!--            </div>-->

<!--            <div class="mySlides fade">-->
<!--              <div class="numbertext">3 / 5</div>-->
<!--              <img-->
<!--                alt=""-->
<!--                class='flat_page__info__image"'-->
<!--                src="images/flats_list/flat_Mohovaya/flat_Mohovaya7.jpg"-->
<!--                style="width:100%"-->
<!--              />-->
<!--            </div>-->

<!--            <div class="mySlides fade">-->
<!--              <div class="numbertext">4 / 5</div>-->
<!--              <img-->
<!--                alt=""-->
<!--                class='flat_page__info__image"'-->
<!--                src="images/flats_list/flat_Mohovaya/flat_Mohovaya8.jpg"-->
<!--                style="width:100%"-->
<!--              />-->
<!--            </div>-->

<!--            <div class="mySlides fade">-->
<!--              <div class="numbertext">5 / 5</div>-->
<!--              <img-->
<!--                alt=""-->
<!--                class='flat_page__info__image"'-->
<!--                src="images/flats_list/flat_Mohovaya/flat_Mohovaya9.jpg"-->
<!--                style="width:100%"-->
<!--              />-->
<!--            </div>-->

<!--            &lt;!&ndash; Next and previous buttons &ndash;&gt;-->
<!--            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>-->
<!--            <a class="next" onclick="plusSlides(1)">&#10095;</a>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="small_images">-->
<!--          <img-->
<!--            alt=""-->
<!--            src="images/flats_list/flat_Mohovaya/flat_Mohovaya2.jpg"-->
<!--          />-->
<!--          <img-->
<!--            alt=""-->
<!--            src="images/flats_list/flat_Mohovaya/flat_Mohovaya3.jpg"-->
<!--          />-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="info">-->
<!--        <div class="info__without_full_description">-->
<!--          <div class="info__without_full_description__and_developer">-->
<!--            <a class="name" href="second_flat.html">-->
<!--              <p class="info__name__inner">90 м<sup>2</sup>, 2-комнатная-->
<!--                квартира</p>-->
<!--            </a>-->
<!--            <a class="description" href="second_flat.html">-->
<!--              <div class="additional_info">-->
<!--                <p>2 этаж из 4-->
<!--                  <br />-->
<!--                  Моховая улица,&nbsp32-->
<!--                  <br />-->
<!--                  м&nbspЧернышевская&nbsp15&nbspмин</p>-->
<!--              </div>-->
<!--              <div class="flat_price">-->
<!--                <span class="flat_price__overall">16&nbsp480&nbsp000₽-->
<!--                  <br />-->
<!--                  <span class="price_per_meter">183&nbsp111 за м<sup>2</sup>-->
<!--                  </span>-->
<!--                </span>-->

<!--              </div>-->
<!--            </a>-->
<!--            <div class="flats_list_buttons">-->
<!--              <a class="phone_number" id="phone_number_1">Показать телефон</a>-->
<!--              <button class="favourites favourites_button">Добавить в избранное</button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="flat_page__full_description">-->
<!--          <p class="flat_page__info__full_description__heading">Описание</p>-->
<!--          <p class="flat_page__info__full_description__text">Предлагаем Вашему-->
<!--            вниманию в прямой и срочной продаже шикарную, просторную 2х-->
<!--            комнатную квартиру с высокими потолками в центре города! Общая-->
<!--            площадь 90 кв.м., просторные комнаты 29.6+25.7 кв.м. Раздельный-->
<!--            санузел. Окна на Моховую. Кухня во двор. Планировка изолированная.-->
<!--            Квартира расположена на 2 этаже 4 этажного кирпичного дома, здание-->
<!--            построено в 1828 году, сделан капитальный ремонт в 1973 году.-->
<!--            Санкт-Петербург по адресу Моховая дом 32, ближайшая станция метро-->
<!--            Чернышевская. В пешей доступности Летний сад, Русский музей, театры,-->
<!--            рестораны и все что так привлекает любителей активной жизни.-->
<!--            Квартира более 5-ти лет в собственности. Перепланировок нет. Один-->
<!--            собственник. Никто не прописан. Подходят любые формы расчета. Показы-->
<!--            в удобное для вас время, по предварительной договоренности.</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="flat_page__description">-->
<!--      <p class="flat_page__info__full_description__heading">Описание</p>-->
<!--      <p class="flat_page__info__full_description__text">Предлагаем Вашему-->
<!--        вниманию в прямой и срочной продаже шикарную, просторную 2х комнатную-->
<!--        квартиру с высокими потолками в центре города! Общая площадь 90 кв.м.,-->
<!--        просторные комнаты 29.6+25.7 кв.м. Раздельный санузел. Окна на Моховую.-->
<!--        Кухня во двор. Планировка изолированная. Квартира расположена на 2 этаже-->
<!--        4 этажного кирпичного дома, здание построено в 1828 году, сделан-->
<!--        капитальный ремонт в 1973 году. Санкт-Петербург по адресу Моховая дом-->
<!--        32, ближайшая станция метро Чернышевская. В пешей доступности Летний-->
<!--        сад, Русский музей, театры, рестораны и все что так привлекает любителей-->
<!--        активной жизни. Квартира более 5-ти лет в собственности. Перепланировок-->
<!--        нет. Один собственник. Никто не прописан. Подходят любые формы расчета.-->
<!--        Показы в удобное для вас время, по предварительной договоренности.</p>-->
<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash;    SECOND FLAT&ndash;&gt;-->
<!--  <div class="flat_page">-->
<!--    <div class="flat_page__inner">-->
<!--      <div class="images">-->
<!--        <div class="big_image">-->
<!--          <div class="slideshow-container">-->

<!--            &lt;!&ndash; Full-width images with number and caption text &ndash;&gt;-->
<!--            <div class="mySlides2 fade">-->
<!--              <div class="numbertext">1 / 4</div>-->
<!--              <img-->
<!--                alt=""-->
<!--                class='flat_page__info__image"'-->
<!--                src="images/flats_list/first_flat_OSTROV/first_flat_OSTROV_photo_2_360x209.png"-->
<!--                style="width:100%"-->
<!--              />-->
<!--            </div>-->

<!--            <div class="mySlides2 fade">-->
<!--              <div class="numbertext">2 / 4</div>-->
<!--              <img-->
<!--                alt=""-->
<!--                class='flat_page__info__image"'-->
<!--                src="images/flats_list/first_flat_OSTROV/first_flat_OSTROV_photo_1_360x209.png"-->
<!--                style="width:100%"-->
<!--              />-->
<!--            </div>-->

<!--            <div class="mySlides2 fade">-->
<!--              <div class="numbertext">3 / 4</div>-->
<!--              <img-->
<!--                alt=""-->
<!--                class='flat_page__info__image"'-->
<!--                src="images/flats_list/first_flat_OSTROV/first_flat_OSTROV_photo_3_360x209.png"-->
<!--                style="width:100%"-->
<!--              />-->
<!--            </div>-->

<!--            <div class="mySlides2 fade">-->
<!--              <div class="numbertext">4 / 4</div>-->
<!--              <img-->
<!--                alt=""-->
<!--                class='flat_page__info__image"'-->
<!--                src="images/flats_list/first_flat_OSTROV/HP_OSTROV_plan_360x209.png"-->
<!--                style="width:100%"-->
<!--              />-->
<!--            </div>-->

<!--            &lt;!&ndash; Next and previous buttons &ndash;&gt;-->
<!--            <a class="prev" onclick="plusSlides2(-1)">&#10094;</a>-->
<!--            <a class="next" onclick="plusSlides2(1)">&#10095;</a>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="small_images">-->
<!--          <img-->
<!--            alt=""-->
<!--            src="images/flats_list/first_flat_OSTROV/first_flat_OSTROV_photo_1_143x119.png"-->
<!--          />-->
<!--          <img-->
<!--            alt=""-->
<!--            src="images/flats_list/first_flat_OSTROV/first_flat_OSTROV_photo_.3_143x119png.png"-->
<!--          />-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="info">-->
<!--        <div class="info__without_full_description">-->
<!--          <div class="info__without_full_description__and_developer">-->
<!--            <a class="name" href="first_flat.html">-->
<!--              <p class="info__name__inner">85 м<sup>2</sup>, 2-комнатная-->
<!--                квартира</p>-->
<!--            </a>-->
<!--            <a class="description" href="first_flat.html">-->
<!--              <div class="additional_info">-->
<!--                <p>3 этаж из 8-->
<!--                  <br />-->
<!--                  Петровский пр., 5-->
<!--                  <br />-->
<!--                  м Чкаловская 20 мин</p>-->
<!--              </div>-->
<!--              <div class="flat_price">-->
<!--                <span class="flat_price__overall">29&nbsp500&nbsp000₽-->
<!--                  <br />-->
<!--                  <span class="price_per_meter">347&nbsp059 за м<sup>2</sup>-->
<!--                  </span>-->
<!--                </span>-->

<!--              </div>-->
<!--            </a>-->
<!--            <div class="flats_list_buttons">-->
<!--              <a class="phone_number" id="phone_number_2">Показать телефон</a>-->
<!--              <button class="favourites favourites_button">Добавить в избранное</button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="flat_page__full_description">-->
<!--          <p class="flat_page__info__full_description__heading">Описание</p>-->
<!--          <p class="flat_page__info__full_description__text">Продается видовая-->
<!--            квартира в Петроградском районе по адресу Петровский пр-т д. 5, стр.-->
<!--            1, расположенная на 3-м этаже 8-ми этажного дома (ЖК "Остров"). О-->
<!--            квартире Квартира находится в черновой отделке, что позволит вам-->
<!--            воплотить в жизнь любые дизайнерские решения. Из квартиры-->
<!--            открывается прекрасный вид на мост Бетанкура и окрестности. Общая-->
<!--            площадь квартиры без учета балкона составляет 85 м². Об-->
<!--            инфраструктуре В шаговой доступности находятся все необходимые-->
<!--            объекты социальной инфраструктуры, магазины первой необходимости,-->
<!--            школы и поликлиники. В трех минутах ходьбы расположен парк-->
<!--            "Петровский парк" и "Петровский пруд". О логистике До станции метро-->
<!--            Чкаловская или Спортивная всего 3 минуты на транспорте или 20 минут-->
<!--            пешком. Выезд на ЗСД находится в 3 км. Так же преимуществом является-->
<!--            близкая доступность к проспектам и выездам с острова.</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="flat_page__description">-->
<!--      <p class="flat_page__info__full_description__heading">Описание</p>-->
<!--      <p class="flat_page__info__full_description__text">Продается видовая-->
<!--        квартира в Петроградском районе по адресу Петровский пр-т д. 5, стр. 1,-->
<!--        расположенная на 3-м этаже 8-ми этажного дома (ЖК "Остров"). О квартире-->
<!--        Квартира находится в черновой отделке, что позволит вам воплотить в-->
<!--        жизнь любые дизайнерские решения. Из квартиры открывается прекрасный вид-->
<!--        на мост Бетанкура и окрестности. Общая площадь квартиры без учета-->
<!--        балкона составляет 85 м². Об инфраструктуре В шаговой доступности-->
<!--        находятся все необходимые объекты социальной инфраструктуры, магазины-->
<!--        первой необходимости, школы и поликлиники. В трех минутах ходьбы-->
<!--        расположен парк "Петровский парк" и "Петровский пруд". О логистике До-->
<!--        станции метро Чкаловская или Спортивная всего 3 минуты на транспорте или-->
<!--        20 минут пешком. Выезд на ЗСД находится в 3 км. Так же преимуществом-->
<!--        является близкая доступность к проспектам и выездам с острова.</p>-->
<!--    </div>-->
<!--  </div>-->

</div>
<script src="javascript/slide_show_for_first_flat.js"></script>