<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<p class="search_result">
    {{dealTypeText}} {{amountOfRoomsText}} квартиру
</p>
<div class="background_for_results">
    {{#each advertisements}}
        {{> flats_list_item adv=this}}
    {{/each}}
</div>
{{> pagination}}
<script src="/javascript/slide_show.js"></script>
