<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<p class="search_result">
    Купить 2-комнатную квартиру
</p>
<div class="background_for_results">
    {{#each advertisements}}
        {{> flats_list_item adv=this}}
    {{/each}}
</div>
<script src="/javascript/slide_show.js"></script>