<div class="main__page">
  <div class="main__page__image">
    <picture>
      <img alt="main-bg" src="images/initial_images/home.jpg" />
    </picture>
  </div>
  <div class="main__page__choice">
    <form action="">
      <div class="main__page__buy__rent">
        <div class="main__page__buy__rent-item">
          <input id="fid-1" type="radio" name="radio" value="1" checked />
          <label for="fid-1">Купить</label>
        </div>
        <div class="main__page__buy__rent-item">
          <input id="fid-2" type="radio" name="radio" value="2" />
          <label for="fid-2">Снять</label>
        </div>
      </div>
      <ul class="main__page__options">
        <li>
          <select class="main__page__options__select">
            <option>Квартира</option>
            <option>Дом</option>
          </select>
        </li>
        <li>
          <select class="main__page__options__rooms">
            <option>Комнаты</option>
            <option>Cтудия</option>
            <option>1</option>
            <option>2</option>
            <option>3+</option>
          </select>
        </li>
        <li>
          <select class="main__page__options__price">
            <option>Цена</option>
            <option>До 2млн</option>
            <option>От 2млн до 4млн</option>
            <option>От 4млн до 6млн</option>
            <option>От 6 млн</option>
          </select>
        </li>
        <li>
          <input
            class="main__page__options__address"
            name="address"
            placeholder="Адрес"
            type="text"
          />
        </li>
      </ul>
    </form>
    <div class="main__page__options__search">
      <button class="main__page__options__search__btn">
        <p class="main__page__options__search__txt">Найти</p>
      </button>
    </div>
  </div>
</div>