<div class="dialog-wrapper" id="v-app">
  <div class="dialog-header">Имя собеседника</div>
  <div class="dialog-body blurred">
    <div class="dialog-message author">
      <div class="dialog-message__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto blanditiis consectetur consequuntur
        cupiditate, doloremque exercitationem expedita id iure iusto laborum magni natus nesciunt quasi, quos sequi
        soluta unde veniam.
      </div>
      <div class="dialog-message__time">
        19.15
      </div>
    </div>
    <div class="dialog-message interlocutor">
      <div class="dialog-message__text">
        Here we go living yards, All around the word seems like paradise
      </div>
      <div class="dialog-message__time">
        19.12
      </div>
    </div>
    <div class="dialog-message author" v-for="msg of messages">
      <div class="dialog-message__text">
        ${msg}
      </div>
      <div class="dialog-message__time">
        19.12
      </div>
    </div>
  </div>
  <button class="dialog-message__start-button"><a href="/messages/new-dialog?advId={{advId}}">Начать диалог</button>
  <form class="dialog-footer blurred">
    <label>
      <input v-model="text" class="dialog-input" type="text" name="message" placeholder="Enter your message" readonly />
    </label>
    <button class="dialog-footer__button no-click" type="submit" @click.prevent="sendMessage()">
      <img src="/images/icons/paper-plane-svgrepo-com.svg" alt="send-icon" />
    </button>
  </form>
</div>