<div class="dialog-wrapper" id="v-app">
  <div class="dialog-header">Имя собеседника</div>
  <div class="dialog-body blurred">
    <div class="dialog-message author">
      <div class="dialog-message__text">
        Лучше быть последним среди волков, чем первым среди шакалов.
      </div>
      <div class="dialog-message__time">
        19.15
      </div>
    </div>
    <div class="dialog-message interlocutor">
      <div class="dialog-message__text">
        Демократия — это когда два волка и ягненок голосуют насчет обеденного меню.
      </div>
      <div class="dialog-message__time">
        19.12
      </div>
    </div>
    <div class="dialog-message author">
      <div class="dialog-message__text">
        Можна кинуть камень в волка,но не волка в камень,ауффф!!!
      </div>
      <div class="dialog-message__time">
        19.12
      </div>
    </div>
  </div>
  <button class="dialog-message__start-button"><a href="/messages/new-dialog?advId={{advId}}">Начать диалог</a></button>
  <form class="dialog-footer blurred">
    <label>
      <input v-model="text" class="dialog-input" type="text" name="message" placeholder="Enter your message" readonly />
    </label>
    <button class="dialog-footer__button no-click" type="submit" @click.prevent="sendMessage()">
      <img src="/images/icons/paper-plane-svgrepo-com.svg" alt="send-icon" />
    </button>
  </form>
</div>