<div class="log__page">
  <div class="log__page__content">
    <span>Вход</span>
    <span>
      {{errorObject}}
      {{dtoErrors}}
      {{dtoErrors.username}}
    </span>
    <form id="loginForm" method="post" class="log__page-form">
      <label>
        <input class="log__page__input" name="username" placeholder="Username" type="text" minlength="3" required />
      </label>
      <label>
        <input class="log__page__input" name="password" placeholder="Пароль" type="password" minlength="6" required />
      </label>
      <button class="log__page__btn">
        <span class="log__page__txt">Продолжить</span>
      </button>
    </form>
    <a href="/auth/register">Зарегистрироваться</a>
    <a>Войти через соц. сети</a>
    <ul class="log__page__social">
      <li class="social_item">
        <a href="#"><img alt="vk" src="/images/log_images/vk.svg" /></a>
      </li>
      <li class="social_item">
        <a href="#"><img alt="telegram" src="/images/log_images/telegram.svg" /></a>
      </li>
      <li class="social_item">
        <a href="#"><img alt="facebook" src="/images/log_images/fb.svg" /></a>
      </li>
    </ul>
  </div>
</div>

<script src="//<a href=" http:="s3.intickets.ru=" intickets.min.js"="" target="_blank">s3.intickets.ru/intickets.min.js"></script>

<script src="s3.intickets.ru/intickets.min.js"></script>
<link rel="stylesheet" href="http://s3.intickets.ru/intickets.min.css" >
<script>

    $( document ).ready(function() {

        $('a').each(function (){

            var href = $(this).attr('href');

            if(href.indexOf('#abiframe') !== -1) {
                $(this).addClass('abiframelnk');
            }

        });

    });
</script>