<div class="log__page">
  <div class="log__page__content">
    <span>Вход и регистрация</span>
    <input
      class="log__page__input"
      name="log"
      placeholder="Email или ID"
      type="text"
    />
    <button class="log__page__btn">
      <span class="log__page__txt">Продолжить</span>
    </button>
    <a>Войти через соц. сети</a>
    <ul class="log__page__social">
      <li class="social_item">
        <a href="#"><img alt="vk" src="images/log_images/vk.svg" /></a>
      </li>
      <li class="social_item">
        <a href="#"><img
            alt="telegram"
            src="images/log_images/telegram.svg"
          /></a>
      </li>
      <li class="social_item">
        <a href="#"><img alt="facebook" src="images/log_images/fb.svg" /></a>
      </li>
    </ul>
  </div>
</div>