<main class="chats-wrapper">
  <a class="chats">
    <h2 class="chats-title"></h2>
    <a href="/messages/dialog" class="chat__item">
      <img class="chat-image" src="/images/page_not_found_cat.jpg" alt="chat-preview" />
      <div class="chat-interlocutor">Kate Chrerednichenko</div>
      <div class="chat-last-updated-time">12.234234.234.324 42l34 </div>
    </a>
  </a>
</main>