<main>
    <h1 class="page-title">Поиск ипотек</h1>
    <div class="filters">
        <h3 class="filter__header">Фильтры</h3>
        <div class="filters__inner">
            <div class="filter__item">
                <div class="filter__name">цена</div>
                <label>
                    <input class="filter__value" placeholder="1 200 000" type="number"/>
                </label>
            </div>
            <div class="filter__item">
                <div class="filter__name">количество&nbsp;комнат</div>
                <label>
                    <input class="filter__value" placeholder="2" type="number"/>
                </label>
            </div>
            <div class="filter__item">
                <div class="filter__item__name">метро</div>
                <label>
                    <input
                            class="filter__value"
                            placeholder="Петроградская"
                            type="text"
                    />
                </label>
            </div>
            <div class="filter__item">
                <div class="filter__name">процентная&nbsp;ставка</div>
                <label>
                    <input class="filter__value" placeholder="8.69%" type="number"/>
                </label>
            </div>
        </div>
    </div>
    <div class="mortgage-list">
        <div class="mortgage-list__item">
            <img
                    alt="mortgage-list-1"
                    class="mortgage-list__image"
                    src="/images/mortgage_find/new-terra.png"
            />
            <div class="mortgage-list__info">
                <h2 class="mortgage-list__title">New Terra</h2>
                <h4 class="mortgage-list__subtitle">дом и парк</h4>
                <div class="mortgage-list__buttons">
                    <a
                            class="show-number-button"
                            id="phone_number_5"
                    >Показать&nbsp;телефон</a>
                    <button class="add-to-favourite-button">Добавить&nbsp;в избранное</button>
                </div>
            </div>
        </div>
        <div class="mortgage-list__item">
            <img
                    alt="mortgage-list-2"
                    class="mortgage-list__image"
                    src="/images/mortgage_find/white-island.png"
            />
            <div class="mortgage-list__info">
                <h2 class="mortgage-list__title">Белый Остров</h2>
                <h4 class="mortgage-list__subtitle mortgage-list__subtitle--hidden">no
                    subtitle</h4>
                <div class="mortgage-list__buttons">
                    <a
                            class="show-number-button"
                            id="phone_number_6"
                    >Показать&nbsp;телефон</a>
                    <button class="add-to-favourite-button">Добавить&nbsp;в избранное</button>
                </div>
            </div>
        </div>
    </div>
</main>