<div class="background_for_favourites">
  <div class="background_for_favourites__page">
    <div class="background_for_favourites__page__container">
      <h1 class="background_for_favourites__page__container_header">Добавляйте
        свои объявления</h1>
      <div class="background_for_favourites__page__container__description">
        Здесь будут отображаться Ваши объявления.
      </div>
      <a
        class="background_for_favourites__page__container__button"
        href="add_adv.html"
      >Добавить объявление</a>
      <a
        class="background_for_favourites__page__container__change_account"
        href="log_page.html"
      >Сменить аккаунт</a>
    </div>
    <img
      alt=""
      class="background_for_favourites__page__image"
      src="images/favourites_background.svg"
    />
  </div>
</div>