<div class="background_for_page_not_found">
    <div class="background_for_favourites__page">
        <div class="background_for_favourites__page__container">
            <h1 class="background_for_favourites__page__container_header">Oops...page not found</h1>
        </div>
        <img
                alt=""
                class="background_for_favourites__page__image"
                src="/images/page_not_found_cat.jpg"
        />
    </div>
</div>
